 <div id="frontpage" class="padding">
    <h4>Discover Utah's Greatest Treasure:<br/>The Outdoors of Utah.</h4>
    <a class="primarybutton" href="Hikes.php">Explore</a>
</div>
    <div class="blackcontainer padding">
    <p class="bluemessage">There are over 20 hikes within an hour of Provo.</p>
        <a href="http://www.google.com"><img class="highlight" src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcRPDfoFU39tqpLHE4UgzJTI9TDbqGdB-wH-5VIMDK8ZgnF2RZFCh_cb4E2_"/></a>
    </div>
    <div class="bluecontainer">
        <p class="blackmessage">
After doing plenty of hiking near Provo, I decided there needed to be a website out there to document them all. Hiking is one of the best things to do in Provo. From the hours I've spent online I haven't found any good source for those that come to live in Provo for school or other reasons and want to know what's out there. This website covers all of the hikes I've found within driving distance of Provo.</p>
    </div>
    <div class="blackcontainer padding">
    <p class="bluemessage quote">"Remember what Bilbo used to say: 'It's a dangerous business, Frodo, going out your door. You step onto the road, and if you don't keep your feet, there's no knowing where you might be swept off to."<br>- J.R.R. Tolkien</p>
    </div>